
h1 {
    color: green;
    text-align: center;
    font-size: 6em;
    font-family: fantasy
  }

  .jumbotron {
    background-image: url(.././assets/img/kombucha.jpg);
    height:500px;
    width: 700px;
    background-repeat: no-repeat;
    margin-left: 15%;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7dc71;
    text-align: center;
}

.container {
    margin-bottom: 200px;
}
